<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商户信息</title>
    <link rel="stylesheet" type="text/css" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>

<body>
    <div class="container">
        <div class="panel panel-padding">
            <form id="search" class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">客户号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mchnt_id" placeholder="请输入客户号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="linkman" placeholder="请输入联系人" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mobile" placeholder="请输入手机" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">商户简称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mchnt_abbr" placeholder="请输入商户简称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所在地区</label>
                    <div class="layui-input-inline">
                        <select name="province" lay-filter="province" id="province">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="city" lay-filter="city" id="city">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="district" lay-filter="district" id="district">
                            <option value="">请选择县/区</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">创建日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="created_time" placeholder="请输入开始日期" autocomplete="off" class="layui-input Wdate" onfocus="WdatePicker({onpicked:function(){$dp.$('created_time2').focus();},maxDate:'#F{$dp.$D(\'created_time2\')}'})" id="created_time">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input type="text" name="created_time2" placeholder="请输入结束日期" autocomplete="off" class="layui-input Wdate" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'created_time\')}'})" id="created_time2">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="search" id="submit-btn">查询</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel panel-padding" id="list-panel">
            <div class="layui-btn-group invisible visible-update">
                <button class="layui-btn layui-btn-small" onclick="onAdd()">
                    <i class="layui-icon">&#xe654;</i> 新增
                </button>
            </div>
            <div class="layui-btn-group invisible visible-check1">
                <button class="layui-btn layui-btn-small layui-btn-normal" onclick="onBatchCheck1Pass()">
                    <i class="layui-icon">&#x1005;</i> 审核
                </button>
                <button class="layui-btn layui-btn-small layui-btn-danger" onclick="onBatchCheck1Nopass()">
                    <i class="layui-icon">&#xe633;</i> 驳回
                </button>
                <!-- <button class="layui-btn layui-btn-small layui-btn-danger" onclick="onBatchDelete()">
                    <i class="layui-icon">&#xe640;</i> 删除
                </button> -->
            </div>
            <!-- <div class="layui-btn-group">
                <button class="layui-btn layui-btn-small layui-btn-normal" data-url="term-info.html" onclick="onGoto(this)">
                    终端管理
                </button>
                <button class="layui-btn layui-btn-small layui-btn-danger" data-url="mchnt-param.html" onclick="onGoto(this)">
                    商户参数
                </button>
                <button class="layui-btn layui-btn-small" data-url="mchnt-elec-info.html" onclick="onGoto(this)">
                    电子资料
                </button>
            </div> -->
            <div id="list">
            </div>
            <div id="page" style="text-align: right;"></div>
        </div>
    </div>
    <script id="list-tpl" type="text/html">
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="checkbox" lay-skin="primary" lay-filter="allCheck">
                        </th>
                        <th>客户号</th>
                        <th>联系人</th>
                        <th>手机</th>
                        <th>商户简称</th>
                        <th>联系电话</th>
                        <th>所在地区</th>
                        <th>营业执照号</th>
                        <!-- <th>操作标志</th> -->
                        <th>处理状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{each rows as row i}}
                    <tr data-index="{{i}}">
                        <td>
                            <input type="checkbox" name="checkbox" value="{{i}}" lay-skin="primary" lay-filter="check">
                        </td>
                        <td>
                            {{row.mchnt_id}}
                        </td>
                        <td>
                            {{row.linkman}}
                        </td>
                        <td>
                            {{row.mobile}}
                        </td>
                        <td>
                            {{row.mchnt_abbr}}
                        </td>
                        <td>
                            {{row.telno}}
                        </td>
                        <td>
                            {{row.district_name}}
                        </td>
                        <td>
                            {{row.license_no}}
                        </td>
                        <!-- <td>
                            {{row.oper_in_nm}}
                        </td> -->
                        <td>
                            {{row.proc_st_nm}}
                        </td>
                        <td>
                            <div class="layui-btn-group">
                                <div>
                                    <button class="layui-btn layui-btn-mini layui-btn-primary" onclick="onView({{i}})">
                                        查看
                                    </button>
                                    {{if operateType=='update'}} {{if hasNext(row.oper_in,row.proc_st,'update')}}
                                    <button class="layui-btn layui-btn-mini" onclick="onEdit({{i}})">
                                        编辑
                                    </button>
                                    {{/if}} {{/if}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/lay/dest/layui.all.js"></script>
    <script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="../js/template.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/st.js"></script>
    <script type="text/javascript" src="../js/param.js"></script>
    <script type="text/javascript" src="../js/district.js"></script>
    <script type="text/javascript">
    var query = $$.parseQueryString();
    var operateType = query.operateType;
    var layer = layui.layer;
    var laypage = layui.laypage;
    var form = layui.form();
    var element = layui.element();

    var pagination;

    function onAdd() {
        var url = $$.url('mchnt-base-info-detail.html?operateType=create');
        var title = '新增商户信息';
        $$.openTab(url, title);
    }

    function onView(index) {
        var data = $('#list').data('data');
        var row = data.rows[index];
        var url = $$.url('mchnt-base-info-detail.html?operateType=view', {
            rec_id: row.rec_id
        });
        var title = '查看商户信息';
        $$.openTab(url, title);
    }

    function onEdit(index) {
        var data = $('#list').data('data');
        var row = data.rows[index];
        var url = $$.url('mchnt-base-info-detail.html?operateType=update', {
            rec_id: row.rec_id
        });
        var title = '编辑商户信息';
        $$.openTab(url, title);
    }

    function onDelete(index) {
        var data = $('#list').data('data');
        var row = data.rows[index];

        $$.confirm('确认要删除?', function() {
            $$.request('/action/bm/mchnt-base-info/delete', row, function(data) {
                $$.msg('操作成功', {
                    icon: 1
                });
            });
        });
    }

    function onGoto(target) {
        var $selected = $$.getSelected('#list');
        if ($selected.length != 1) {
            $$.msg('请选择需要操作的记录');
            return;
        }
        var index = parseInt($selected.attr('data-index'));
        var $target = $(target);
        var data = $('#list').data('data');
        var row = data.rows[index];
        var url = $target.attr('data-url');
        var title = $target.text() + '-' + row.mchnt_abbr;
        url = $$.url(url, {
            operateType: operateType,
            mchnt_id: row.mchnt_id
        });

        $$.openTab(url, title);
    }

    function onBatchCheck1Pass() {
        $$.batchSubmit('#list', '/action/bm/mchnt-base-info/batch-check1-pass');
    }

    function onBatchCheck1Nopass() {
        var $checkbox = $$.getChecked('#list');
        if ($checkbox.length == 0) {
            $$.msg('请勾选需要操作的记录');
            return;
        }
        $$.prompt('请输入驳回备注', function(value) {
            $$.batchSubmit('#list', '/action/bm/mchnt-base-info/batch-check1-nopass', {
                params: {
                    checked_reason: value
                }
            });
        });
    }

    function onBatchDelete() {
        var $checkbox = $$.getChecked('#list');
        if ($checkbox.length == 0) {
            $$.msg('请勾选需要操作的记录');
            return;
        }

        $$.confirm('确认要删除?', function() {
            $$.batchSubmit('#list', '/action/bm/mchnt-base-info/batch-delete');
        });
    }

    function hasNextStatus(oper_in, proc_st, action) {
        var rows = $$.st.transition[$$.st.alias['mchnt_base_info']]
        return $$.hasNextStatus(rows, oper_in, proc_st, action);
    }

    template.helper('hasNext', hasNextStatus);
    template.helper('operateType', operateType);

    $(function() {
        //全选
        form.on('checkbox(allCheck)', function(data) {
            var child = $(data.elem).parents('table').find('tbody input[type=checkbox]');
            child.each(function(index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });

        form.on('checkbox(check)', function(data) {
            return false;
        });

        form.on('submit(search)', function(data) {
            pagination = $$.search('/action/bm/mchnt-base-info/search', data.field);
            return false; //阻止表单跳转
        });

        form.on('select(province)', function(data) {
            $$.loadSelect('#city', districtData['city'][data.value]);
            $$.loadSelect('#district', []);
            form.render('select');
        });

        form.on('select(city)', function(data) {
            $$.loadSelect('#district', districtData['district'][$('#province').val() + data.value]);
            form.render('select');
        });

        $$.loadSelect('#province', districtData['province']);

        $$.transformStatus('#list-panel', operateType);
        form.render('select');
    });
    </script>
</body>

</html>
