<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>终端信息</title>
    <link rel="stylesheet" type="text/css" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <style type="text/css">
    body {
        overflow-y: hidden;
    }
    
    .layui-tab-content {
        height: 100%;
        padding: 0;
    }
    
    .layui-tab-content .layui-tab-item {
        position: absolute;
        top: 51px;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        background-color: #fff;
    }
    
    .tab-iframe {
        width: 100%;
        border: 0;
        height: 100%;
    }
    </style>
</head>

<body>
    <div class="layui-tab layui-tab-brief" lay-filter="term">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="0">终端资料</li>
            <li>终端参数</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" style="overflow-y: auto;">
                <div id="detail">
                    <div class="panel panel-padding">
                        <form class="layui-form" action="" method="post">
                            <div class="layui-form-item readonly">
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>客户号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="mchnt_id" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline visible invisible-create">
                                    <label class="layui-form-label"><span class="required">*</span>终端标识</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="term_no" placeholder="" autocomplete="off" class="layui-input" id="term-no">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>联系人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="linkman" lay-verify="required" placeholder="请输入联系人" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>手机号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="mobile" lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>门店名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="shop_name" lay-verify="required" placeholder="请输入门店名称" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">联系电话</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="telno" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span class="required">*</span>所在地区</label>
                                <div class="layui-input-inline">
                                    <select name="province" lay-verify="required" lay-filter="province" id="province">
                                        <option value="">请选择省</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="city" lay-verify="required" lay-filter="city" id="city">
                                        <option value="">请选择市</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="district" lay-verify="required" lay-filter="district" id="district">
                                        <option value="">请选择县/区</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"><span class="required">*</span>详细地址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="addr" lay-verify="required" placeholder="请输入详细地址" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>终端投资方</label>
                                    <div class="layui-input-inline">
                                        <select name="term_inves" lay-verify="required" id="term-inves">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>机具类型</label>
                                    <div class="layui-input-inline">
                                        <select name="equi_type" lay-verify="required" id="equi-type">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>拓展方</label>
                                    <div class="layui-input-inline">
                                        <select name="expand_inst_id" lay-verify="required" lay-search id="expand-inst-id">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label"><span class="required">*</span>拓展人</label>
                                    <div class="layui-input-inline">
                                        <select name="expand_id" lay-verify="required" lay-search id="expand-id">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <div class="layui-inline">
                                    <label class="layui-form-label">装机日期</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="installed_date" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">撤机日期</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="removed_date" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <div class="layui-inline">
                                    <label class="layui-form-label">装机人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="installed_by" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">维护人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="maintained_by" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <div class="layui-inline">
                                    <label class="layui-form-label">终端状态</label>
                                    <div class="layui-input-inline">
                                        <select name="term_status" id="term-status">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <div class="layui-inline">
                                    <label class="layui-form-label">记录编号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="rec_id" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">处理状态</label>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="oper_in" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" name="proc_st" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <div class="layui-inline">
                                    <label class="layui-form-label">创建人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="created_by" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">创建时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="created_time" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <div class="layui-inline">
                                    <label class="layui-form-label">最后修改人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="last_modified_by" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">最后修改时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="last_modified_time" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <div class="layui-inline">
                                    <label class="layui-form-label">最后审核人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="last_checked_by" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">最后审核时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="last_checked_time" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item invisible visible-view">
                                <label class="layui-form-label">审核备注</label>
                                <div class="layui-input-block">
                                    <input type="text" name="checked_reason" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn visible invisible-view" lay-submit="" lay-filter="detail">提交</button>
                                    <button type="button" class="layui-btn layui-btn-primary" onclick="onClose()">关闭</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="container">
                    <div id="search-panel" class="panel panel-padding hide">
                        <form id="search" class="layui-form" action="" method="post">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">客户号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="mchnt_id" placeholder="请输入客户号" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">终端标识</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="term_no" placeholder="请输入终端标识" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">商户号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="mchnt_cd" placeholder="请输入商户号" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">终端号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="term_id" placeholder="请输入终端号" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">创建日期</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="created_time" placeholder="请输入开始日期" autocomplete="off" class="layui-input Wdate" onfocus="WdatePicker({onpicked:function(){$dp.$('created_time2').focus();},maxDate:'#F{$dp.$D(\'created_time2\')}'})" id="created_time">
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline">
                                        <input type="text" name="created_time2" placeholder="请输入结束日期" autocomplete="off" class="layui-input Wdate" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'created_time\')}'})" id="created_time2">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="search" id="submit-btn">查询</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel panel-padding" id="list-panel">
                        <div class="layui-btn-group invisible visible-update">
                            <button id="add-btn" class="layui-btn layui-btn-small hide" onclick="onAdd()">
                                <i class="layui-icon">&#xe654;</i> 新增
                            </button>
                        </div>
                        <div class="layui-btn-group invisible visible-check1">
                            <button class="layui-btn layui-btn-small layui-btn-normal" onclick="onBatchCheck1Pass()">
                                <i class="layui-icon">&#x1005;</i> 审核
                            </button>
                            <button class="layui-btn layui-btn-small layui-btn-danger" onclick="onBatchCheck1Nopass()">
                                <i class="layui-icon">&#xe633;</i> 驳回
                            </button>
                            <!-- <button class="layui-btn layui-btn-small layui-btn-danger" onclick="onBatchDelete()">
                    <i class="layui-icon">&#xe640;</i> 删除
                </button> -->
                        </div>
                        <div id="list">
                        </div>
                        <div id="page" style="text-align: right;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="list-tpl" type="text/html">
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="checkbox" lay-skin="primary" lay-filter="allCheck">
                        </th>
                        <th>客户号</th>
                        <th>终端标识</th>
                        <th>商户简称</th>
                        <th>商户名称</th>
                        <th>商户号</th>
                        <th>终端号</th>
                        <!-- <th>参数状态</th> -->
                        <th>处理状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{each rows as row i}}
                    <tr>
                        <td>
                            <input type="checkbox" name="checkbox" value="{{i}}" lay-skin="primary">
                        </td>
                        <td>
                            {{row.mchnt_id}}
                        </td>
                        <td>
                            {{row.term_no}}
                        </td>
                        <td>
                            {{row.mchnt_abbr}}
                        </td>
                        <td>
                            {{row.mchnt_name}}
                        </td>
                        <td>
                            {{row.mchnt_cd}}
                        </td>
                        <td>
                            {{row.term_id}}
                        </td>
                        <!-- <td>
                            {{row.status}}
                        </td> -->
                        <td>
                            {{row.proc_st_nm}}
                        </td>
                        <td>
                            <div class="layui-btn-group">
                                <button class="layui-btn layui-btn-primary layui-btn-mini" onclick="onView({{i}})">
                                    查看
                                </button>
                                {{if displayType=='update'}} {{if hasNext(row.oper_in,row.proc_st,'update')}}
                                <button class="layui-btn layui-btn-mini" onclick="onEdit({{i}})">
                                    编辑
                                </button>
                                {{/if}} {{/if}}
                                <!-- <button class="layui-btn layui-btn-mini layui-btn-danger" onclick="onDelete({{i}})">
                                    删除
                                </button> -->
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/lay/dest/layui.all.js"></script>
    <script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="../js/template.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/param.js"></script>
    <script type="text/javascript" src="../js/district.js"></script>
    <script type="text/javascript">
    var query = $$.parseQueryString();
    var displayType = query.displayType;
    var operateType = query.operateType;
    var layer = layui.layer;
    var form = layui.form();
    var element = layui.element();

    function view() {
        $$.request('/action/bm/term-info/view', query, function(data) {
            $$.loadData('#detail', data.data);
            $('#province').change();
            $('#city').val(data.data.city).change();
            $('#district').val(data.data.district);
            form.render();
        });
    }

    function onSubmit(param) {
        $$.request('/action/bm/term-info/' + operateType, param, function(data) {
            if (data.data) {
                $$.loadData('#detail', data.data);
            }
            if (operateType == 'create') {
                $$.confirm('操作成功,是否继续新增终端参数', function() {
                    var url = $$.url('term-param-detail.html?operateType=create', {
                        displayType: displayType,
                        term_no: query.term_no
                    });
                    var title = '新增终端信息';
                    $$.openTab(url, title);
                });
            } else {
                $$.msg('操作成功', {
                    icon: 1
                }, function() {
                    onClose();
                });
            }
        });
    }

    function onClose() {
        if (window.top.closeTab) {
            window.top.closeTab();
        } else {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
    }

    function onChangeProvince() {
        var value = $(this).val();
        $$.loadSelect('#city', districtData['city'][value]);
        $$.loadSelect('#district', []);
        form.render('select');
    }

    function onChangeCity() {
        var value = $(this).val();
        $$.loadSelect('#district', districtData['district'][$('#province').val() + value]);
        form.render('select');
    }

    $(function() {
        // element.on('tab(term)', function(data) {
        //     if (data.index == 0) return;

        //     var term_no = $('#term-no').val();
        //     if (data.index > 0 && !term_no) {
        //         element.tabChange('term', '0');
        //         $$.msg('请先新增终端信息');
        //         return;
        //     }

        //     var $item = data.elem.children('.layui-tab-content').children('.layui-tab-item');
        //     var $iframe = $item.eq(data.index).children('.tab-iframe');
        //     $iframe.attr('src', $$.url($iframe.attr('data-src'), {
        //         displayType: displayType,
        //         operateType: operateType,
        //         term_no: term_no
        //     }));

        // });

        form.on('submit(detail)', function(data) {
            onSubmit(data.field);
            return false; //阻止表单跳转
        });

        $('#province').on('change', onChangeProvince);
        $('#city').on('change', onChangeCity);

        form.on('select(province)', function(data) {
            console.log(this, arguments);
            $(data.elem).change();
        });

        form.on('select(city)', function(data) {
            console.log(this, arguments);
            $(data.elem).change();
        });

        $$.loadSelect('#province', districtData['province']);
        $$.loadSelect('#term-status', $$.param['term_status']);
        form.render('select');

        var d1 = $$.request('/action/bm/expand/list', {}, function(data) {
            $$.loadSelect('#expand-id', data.rows);
            form.render('select');
        });

        var d2 = $$.request('/action/bm/parameter/list', {
            expand_inst: '1',
            term_inves: '1',
            equi_type: '1'
        }, function(data) {
            $$.loadSelect('#expand-inst-id', data.expand_inst);
            $$.loadSelect('#term-inves', data.term_inves);
            $$.loadSelect('#equi-type', data.equi_type);
            form.render('select');
        });

        $$.transformStatus('#detail', operateType);

        $.when(d1, d2).done(function() {
            if (query.operateType == 'create') {
                $$.loadData('#detail', query);
                $$.request('/action/bm/mchnt-base-info/view', query, function(data) {
                    data.data.shop_name = data.data.mchnt_abbr;
                    $$.loadData('#detail', data.data);
                    $('#province').change();
                    $('#city').val(data.data.city).change();
                    $('#district').val(data.data.district);
                    form.render();
                });
            } else {
                view();
            }
        });
    });
    </script>
</body>

</html>
